<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <form action="http://127.0.0.1:8000/post/"><button>Create a Post</button></form>
    </div>
    <div>
        <form action=""><button>watch your friend Post</button></form>
    </div>
    <div>
        <form action=""><button>Edit a blog</button></form>
    </div>
    <div>
        <form action=""><button>delete a blog</button></form>
    </div>
    <div>
        <form action="http://127.0.0.1:8000/user/logout"><button>logout</button></form>
    </div>
</body>
</html>